.cabecalho {
    background-color: #F9A6A6;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.cabecalho-imagem {
    width: 18%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px 0;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
}
    <section class="escola">
<h2 class="ecola-titulo">Sobre a Escola</h2>
<p class="escola texto um"></p>
<p class="escola-texto-dois"></p>

</section>
