.cabecalho {
  background-color: #F9A6A6;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
}

.cabecalho-imagem {
  width: 18%;
}

.cabecalho-lista-item {
  display: inline-block;
  margin: 0 16px;
  padding: 10px 0;
  font-size: 22px;
}

* {
  margin: 0;
  padding: 0;
}

.escola-imagem{
  width: 22%;
  }

.escola {
    background-image: linear-gradient(#FCA8A8,#D04242);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }

    .escola-conteudo{
      width: 35%;
    }

    .escola-titulo{
      padding: 24px 0;
    }

    body{
      font-family: 'poppins',sans-serif;
    }

    .estudante-icone{
      width: 24px;
    }

    .estudante-div{
      text-align: center;
    }

    .estudante-titulo{
      text-align: center;
      background-color: #D04242;
    }

    .estudante-todos{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      background-color: #D04242;
    }

      footer{
        background-color: #FF3737;
        padding: 15px 0;
        text-align: center;
      }

